<html>
<style>
    .header{
        background-color: black;
        box-shadow: 0 1px 0px rgba(0,0,0,.2);
        height:50px;
    }

    html,body{
        font: Helvetica Nueue;
        font-family: sans-serif;
        background-color: #E6ECF0;
        height: 100%;
        width: 100%;
    }
    
    .nav {
        width: 300px;
        display: flex;
        flex-direction: row;
    }
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .main{
        background-color: white;
        width: 1000px;
        height: 100%;
        margin: auto;
        padding: 20px;
    
    }
    
    .info{
        margin-left: 10px;
        font-size: x-large;
        font-weight: 700;
        font-family: sans-serif;
        margin-top: 10px;
    }
    
    .uploadmeme{
        border-style: solid;
        border-width: 1px;
        display: inline-table;
        padding: 10px;   

    }
    
    input[type=text]{
        width: 20%;
    }
    
    label{
        font-weight: bold;
        padding: 10px;
    }
    
    .register{
        color: white;
        background-color: rgb(0, 110, 239);
        padding: 9px 13px;
        font-weight: bold;
        position: absolute;
        right: 15px;
        top: 14px;
        text-decoration: none;
    }

    .register:hover{
        color: gainsboro;
        cursor: pointer;
    }

        .title{
    margin-left: 10px;
    font-size: x-large;
    font-weight: 700;
    font-family: sans-serif;
    margin-top: 10px;
}

    .home, .trend, .taglist{
        margin: 10px;
        font-size: 25px;
        color: white;
        position: absolute;
        top: 5px;
        font-family: "Comic Sans MS";
        left: 150px;
        text-decoration: none;
    }

    .home:hover, .taglist:hover, .trend:hover{
        color:gainsboro;
        cursor: pointer;
    }

    .trend{
        left: 350px;
    }

    .taglist{
           left: 550px;
    }

    .register{
        color: white;
        background-color: rgb(0, 110, 239);
        padding: 9px 13px;
        font-weight: bold;
        position: absolute;
        right: 15px;
        top: 14px;
        text-decoration: none;
    }

    .register:hover{
        color: gainsboro;
        cursor: pointer;
    }
    
</style>
<script>function myFunction() {
    alert("Meme uploaded!");
}</script>
<head>
<title>dankmems: Memes are Dreams</title>
</head>
<body>
<div class="container">
<div class="header">
    <nav class="nav">
        <span><a class="home" href="/home-user">dankmems</a></span>
        <span><a class="trend" href="/home-user">on firee</a></span>
        <span><a class="taglist" href="/tags">tags</a></span>
        <span><a class="logout">Log out</a></span>
        <span><a class="register" href="/profile">Profile</a></span>
    </nav>
</div>
<div class="main">
<div class="info">
    <span><h1>CREATE POST</h1></span>
<div class="uploadmeme">
    <form name="create-post" action="create-post" method="post">
        <div><input type="file" class="upload" name="picture"/></div>
        <br>
        <span><label>Dank title:</label> <input type="text" name="title"/></span>
        &emsp;
        <span><input type="radio" name="privacy" value="Public" checked="checked">Public</span>
        <span><input type="radio" name="privacy" value="Private">Private</span>
        <br/>
        <br>
        <div><label>Tags:</label> <input type="text" name="tags"/></div>
        <br/>
        <label>Share meme with:</label>
        <input type="text" name="shareuser"/>
        &emsp;
        <br>
        <br>
        <div><button onclick="myFunction()">Upload meme</button></div>
    </form>
</div> 
</div>
</div>
</div>
</body>
</html>

    
