<!--
<div class = 'viewbig'>
    <div class="image">
        <img src = 'images/'  style="width:250px; height:250px; border:0;"/>
    </div> 
</div>
-->
<style>
    .header{
    background-color: black;
    box-shadow: 0 1px 0px rgba(0,0,0,.2);
    height:50px;
}

html,body {
    font: Helvetica Nueue;
    font-family: sans-serif;
    background-color: #E6ECF0;
    height: 100%;
    width: 100%;
}

.nav {
    width: 300px;
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tags:hover{
    color:deepskyblue;
}

.poster{
    font-family: sans-serif;
    margin-left: 25px;
    height: 20px;
}

label{
    font-weight: bold;
}

img{
    padding-top: 20px;
    max-width: 650px;
    max-height: 650px;
}

.main{
    background-color: white;
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

footer{
    background-color: white;
    width: 1000px;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.tags{
    color: dodgerblue;
    font-weight: bold;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
}

.footerlist {
    font-weight: bold;
    color: black;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
}

.footeritem {
    color: black;
    margin-left: auto
    padding: 20px;
    display: inline-block;
    cursor: pointer;
}

.footer {
    background-color: white;
}


.home, .trend, .taglist{
    margin: 10px;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 5px;
    font-family: "Comic Sans MS";
    left: 150px;
}

a{
    text-decoration: none;
}
    



.trend{
    left: 350px;
}

.taglist{
       left: 550px;
}

.home:hover, .taglist:hover, .trend:hover, .footerlist:hover{
    color:gainsboro;
    cursor: pointer;
}

.register{
    color: white;
    background-color: rgb(0, 110, 239);
    padding: 9px 13px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 14px;
    text-decoration: none;
}

.register:hover{
    color: gainsboro;
    cursor: pointer;
}


.login{
    color:white;
    float: right;
    padding: 5px;
    position: absolute;
    right: 130px;
    top: 16px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.login:hover{
    cursor: pointer;
    color: gainsboro;
}


.post{
    border-bottom: 0.5px #E6ECF0 solid;
    padding: 20px;
}

.title{
    margin-left: 10px;
    font-size: x-large;
    font-weight: 700;
    font-family: sans-serif;
    margin-top: 10px;
}

footer ul {
  list-style: none;
  display: block;
  float: left;
}
footer h3 {
  font-weight: 100;
  margin-bottom: 0;
}
.pink{color: pink;}
.red{color: red;}
.orange{color: orange;}
.green{color: green;}
</style>
<body>
<div class='post'>
    <div>
        <span class='title'><%=data.post.title%></span>
    </div>
    <div>
        <br/>
        <span class='poster'>User</span>

    </div>
    <div>
        <a href ="/">
            <img id='<%=data.post.picture %>' src = 'images/<%=data.post.picture %>'/></a>
    </div>
    
    <label>Tags:</label>
    
            <% for(var j=0;j<data.post.tags.length;j++) { %>
            <%- include('./tags-row', {
                tag: data.post.tags[j],
        }); %>
    
        <% } %>
<body>
